---
import Meta from "../layouts/Meta.astro";
import { Image } from "astro:assets";
import Hero from "../images/Hero-1.jpg"
import CardMemberShip from "../layouts/CardMemberShip.astro";
import membershipData from "../data/membershipData"
import NavBar from "../layouts/NavBar.astro";
---

<Meta title="AC">
  <div class="baseSlide flex col jc-sb">

    <div class="heroImage z-1">

      <Image src = {Hero}, alt= "A women"/>
      
    </div>
    <div class="drape tv z-2"></div>
    <div class="drape-2 z-1 bg-grad"></div>

    
    <NavBar/>

    <div class="baseHeroText z-2 flex">
      
      <div class="mainHeroText flex col jc-c flex-1 ts-5 tw-9 tc-w">
        <div>CARE</div>
        <div>GROWTH</div>
        <div>HAPPINESS</div>
      </div>
      
      <div class="flex-1"></div>

      
      <div class="flex col center gap-2 flex-1">
        <div class="headMembership tc-w ts-2 tw-9">Proud Member of</div>
        <div class="flex gap-2">

          {
            membershipData.map((i)=> (

            <a href= {i.path}>

              <CardMemberShip text = {i.name}/>

            </a>


            ))
          }
      
        </div>
      </div>
    </div>
  
  
  </div>
</Meta>


