
---
const {title} = Astro.props
---
<!doctype html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width= device-width, initialscale=1.0"/>
    <link rel="stylesheet" href="/styles/TabStyles.css"/>
    <link rel="stylesheet" href="/styles/PCStyles.css"/>
    <link rel="stylesheet" href="/styles/MobileStyles.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  </head>
  <body>

    <slot/>
    
  </body>

</html>
